:root {
    --white: #fff;
    --black: #000;
    --marsala: #92244b ;
    --marsalaDark: #5a1532;
    --rose: #fbd7d6;
}

body, html {
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
    color: var(--marsala);
    font-size: 62.5%;
}

h1, h2 {
    font-weight: 200;
    margin: 0.4em 0;
}

h1 {
    font-size: 4.0rem;
}

h2 {
    font-size: 2.0rem;
    letter-spacing: 1px;
}

article {
    margin: 0 1.6rem;
}

.l-body {
    text-align: left;
    color: var(--rose);
    background-color: var(--marsalaDark);
}

    .l-body__content {
       margin-top: 25vh;
       display: flex;
       align-items: center;
       justify-content: center;   
    }

        .l-body__logo {
            width: 250px;
            border-radius: 50%;
        }

        .l-body__text {
            width: 45vw;
        }

.l-txtRotate > .l-cursor {
    border-right: 0.08em solid var(--marsala);
}

.l-cursor {
    animation: blink-caret .75s step-end infinite;
}

footer {
    margin-top: 50px;
    text-align: center;
}

    footer img {
        width: 50px;
    }

    footer img:hover {
        -webkit-animation: pulse .4s linear alternate;
        animation: pulse .4s linear alternate;
    }

    footer a {
        margin: 0 15px;
        color: var(--marsalaDark);
    }  

@keyframes blink-caret {
    0% { border-color:  var(--marsala);}
    50% { border-color: transparent; }
    100% { border-color: var(--marsala); }
}

@keyframes pulse {
    from {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.05, 1.05, 1.05);
      transform: scale3d(1.05, 1.05, 1.05);
    }
  
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }

  @media (max-width: 575px) {

    .l-body__content {
        margin-top: 5vh;
        flex-direction: column;
    }

    .l-body__logo {
        width: 250px;
    }

    .l-body__text {
        width: 85vw;
    }

    footer {
        margin-bottom: 20vw;
    }

    footer a {
        margin: 0 10px;
    }
  }

  @media (max-width: 320px) {

    h1 {
        font-size: 3.6rem;
    }
    
    h2 {
        font-size: 1.6rem;
        letter-spacing: 1px;
    }

    footer a {
        margin: 0 5px;
    } 
  }